<p>book-details works!</p>
<div class="row justify-content-center mt-3">
    <div class="col-md-5">
        <form [formGroup]="updateForm"(ngSubmit)="onUpdate()">
            <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control" formControlName="price">
            </div>
              <div class="form-group">
                <label for="price">Description</label>
                <input type="text" class="form-control" formControlName="description">
            </div>
            <div class="form-group">
                <button class="btn btn-primary">update</button>
            </div>
        </form>
    </div>
</div>